

body {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: monospace;
    color: black;
}

.container {
    display: flex;
    flex-grow: 2;    
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container:first-of-type {
    border-right: 8px solid rgba(0, 0, 0, 0.1);
}

.inner-container{
    background-color: rgba(172, 167, 167, 0.1); ;
}



.player, .points {
    font-size: 5em;
    margin: 20px 0 40px;
}

.button {
    background-color: #ffffff; 
    border: 3px solid #000000;
    border-radius: 5px;
    padding: 25px;
    margin-left: 25px;
    margin-right: 25px;
    
}

.playerHover {
    border: 4px solid #EE4E34;
    cursor: pointer;
    
}

.playerClick {
    border: 5px solid #EE4E34;
    transition: all 1s;
            transform: scale(1.3);
}

.player-buttons, .computer-buttons {
    display: flex;
    justify-content: space-between;
}

.computerPick {
    border: 5px solid #16a8cc;  
    transition: all 1s;   
            transform: scale(1.3);
}
.score {
    font-size: 5em;
    margin-top: 20px;
}

