

body {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: monospace;
    color: black;
}

.container {
    display: flex;
    flex-grow: 2;    
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container:first-of-type {
    border-right: 8px solid rgba(0, 0, 0, 0.1);
}

.inner-container{
    background-color: rgba(172, 167, 167, 0.1); ;
}



.player, .points {
    font-size: 5em;
    margin: 20px 0 40px;
}

.button {
    background-color: #ffffff; 
    border: 3px solid #000000;
    border-radius: 5px;
    padding: 25px;
    margin-left: 25px;
    margin-right: 25px;
    
}

.playerHover {
    border: 1px solid #ffb900;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 5px 0px #ffb900;
            box-shadow: 0px 1px 5px 0px #ffb900;
}

.playerClick {
    border: 1px solid #ffb900;
    -webkit-box-shadow: 0px 1px 5px 0px #ffb900;
            box-shadow: 0px 1px 5px 0px #ffb900;
    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.player-buttons, .computer-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.player-buttons > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
}

.computer-buttons > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
}


.score {
    font-size: 5em;
    margin-top: 20px;
}

